RUN_ADDR=8000
LOG_LEVEL=INFO
DEBUG=True
SECRET_KEY=adafwrtw3532gfasd325fgds
MASTER_KEY=qwe123

POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET=file

SERVER_ADDR=http://localhost:8080